aiobotocore
aiohttp
aioitertools
aiosignal
alabaster
anaconda-navigator==2.4.2
anaconda-project
anyio
appdirs==1.4.4
applaunchservices
appnope
appscript
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
async-timeout
atomicwrites
attrs
Automat
autopep8
Babel
backports.functools-lru-cache
backports.tarfile
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
brotlipy==0.7.0
category-encoders==2.6.3
certifi
cffi
chardet==3.0.4
charset-normalizer
click
cloudpickle
clyent
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.41
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly==15.1.0
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
datasets
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distlib==0.3.7
distributed
docker-pycreds==0.4.0
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
exceptiongroup
executing
fastjsonschema
filelock
flake8
Flask
fonttools==4.25.0
frozenlist
fsspec
future
gensim
gitdb==4.0.11
GitPython==3.1.40
glob2
greenlet
group-lasso==1.5.0
h5py
holoviews
huggingface_hub
hvplot
hyperlink
hyperopt==0.2.7
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib_metadata
importlib_resources
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython_genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libmambapy
lief
linkify-it-py
llvmlite
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mistune
more-itertools
mpmath
msgpack
multidict
multipledispatch
multiprocess
munkres==1.1.4
mypy-extensions
navigator-updater==0.4.0
nbclassic
nbclient
nbconvert
nbformat
nest_asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
oauthlib
odfpy
olefile
openpyxl
packaging
pandas
pandocfilters
parso
partd
path
pathlib2
pathtools
patsy
pep517
pep8
pexpect
pickleshare
Pillow
pip
pluggy
ply
poyo
pprintpp
prometheus_client
prompt-toolkit
protobuf
psutil
ptyprocess
py
pycodestyle
pycosat
pycparser
pycryptodome
pycurl
pydocstyle
pyerfa
pyflakes
Pygments
pylint
pyls-black
pyls-spyder
pymongo
pyparsing
pyprojroot
pyqtgraph
pyrsistent
pysoundfile
pytest
python
python-dateutil
python-editor
python-gitlab
python-jsonrpc-server
python-language-server
python-libarchive-c
python-louvain
python-utils
pytz
pywavelets
pyyaml
pyzmq
QtAwesome
qtconsole
QtPy
readme-renderer
regex
requests
requests-oauthlib
retrying
rfc3986
rope
ruamel-yaml
s3fs
scikit-image
scikit-learn
scipy
seaborn
SecretStorage
send2trash
setuptools
simplegeneric
singledispatch
six
skip
smmap==4.0.0
snowballstemmer
sortedcontainers
soupsieve
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spyder
sqlalchemy
statsmodels
sympy
tables
tblib
terminado
testpath
threadpoolctl
tifffile
toml
toolz
tornado
tqdm
traitlets
typed-ast
typing-extensions
ujson
unicodecsv
urllib3
watchdog
wcwidth
webencodings
websockets
wheel
widgetsnbextension
wrapt
wurlitzer
xlrd
xlsxwriter
xlwt
xmltodict
xopen
yapf
zict
zipp
