absl_py==2.0.0+computecanada
accelerate==0.27.2+computecanada
addict==2.4.0+computecanada
aiohttp==3.8.4+computecanada
aioitertools==0.11.0+computecanada
aiosignal==1.3.1+computecanada
aitextgen==0.6.0
alembic==1.13.1
altair==5.2.0
annotated_types==0.6.0+computecanada
anyio==3.7.1+computecanada
apex @ file:///home/yutonglu/apex
appdirs==1.4.4+computecanada
argon2_cffi==23.1.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
astroid==3.0.2
asttokens==2.4.1+computecanada
astunparse==1.6.3+computecanada
async_timeout==4.0.3+computecanada
asynctest==0.13.0
attrs==23.2.0+computecanada
autopage==0.5.2
Babel==2.14.0
beautifulsoup4==4.12.2+computecanada
bertviz==1.4.0
black==23.12.1
bleach==6.1.0
blinker==1.7.0+computecanada
blurhash==1.1.4
boost==0.1
boto3==1.33.11
botocore==1.33.11
cachetools==5.3.2+computecanada
certifi==2023.11.17
cffi==1.15.1+computecanada
charset-normalizer==3.3.2
click==8.1.7+computecanada
cliff==4.4.0
cmaes==0.10.0
cmd2==2.4.3
colorlog==6.8.0+computecanada
comm==0.2.0+computecanada
contextlib2==21.6.0+computecanada
contourpy==1.2.0+computecanada
cycler==0.12.1+computecanada
datasets==2.14.7+computecanada
debugpy==1.8.0+computecanada
decorator==5.1.1+computecanada
deepchem==2.7.2.dev20231208230844
deepspeed==0.9.5+computecanada
defusedxml==0.7.1+computecanada
descriptastorus==2.6.1
dgl==1.1.1+computecanada
dill==0.3.7+computecanada
docker-pycreds==0.4.0+computecanada
emmet-core==0.74.8
entrypoints==0.4+computecanada
exceptiongroup==1.2.0
executing==2.0.1+computecanada
fairscale==0.4.12+computecanada
fastapi==0.104.1+computecanada
fastjsonschema==2.19.1
filelock==3.13.1
fire==0.4.0+computecanada
flask==3.0.0+computecanada
flatbuffers==20190709135844+computecanada
fonttools==4.47.0+computecanada
frozenlist==1.3.3+computecanada
fsspec==2023.10.0+computecanada
future==0.18.2+computecanada
gast==0.5.4+computecanada
gitdb==4.0.11+computecanada
GitPython==3.1.40+computecanada
google-auth==2.25.2
google-pasta==0.2.0+computecanada
google_auth_oauthlib==1.0.0+computecanada
greenlet==2.0.2+computecanada
grpcio==1.57.0+computecanada
h11==0.14.0+computecanada
h5py==3.8.0+computecanada
hjson==3.1.0+computecanada
huggingface_hub==0.16.4+computecanada
idna==3.6
iniconfig==2.0.0+computecanada
iopath==0.1.9+computecanada
ipykernel==6.27.1
ipython==8.18.1
ipython_genutils==0.2.0+computecanada
ipywidgets==7.7.0
isort==5.13.2
itsdangerous==2.1.2+computecanada
jax==0.4.21
jaxlib==0.4.20+cuda11.cudnn86.computecanada
jedi==0.19.1+computecanada
Jinja2==3.1.2+computecanada
jmespath==1.0.1+computecanada
joblib==1.3.2+computecanada
json5==0.9.14+computecanada
jsonschema==4.20.0+computecanada
jsonschema-specifications==2023.12.1
jupyter_client==7.4.9
jupyter_core==5.5.0+computecanada
jupyter_server==1.24.0+computecanada
jupyterlab==3.4.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
jupyterlab_widgets==3.0.9+computecanada
keras==2.14.0+computecanada
kiwisolver==1.4.5+computecanada
latexcodec==2.0.1+computecanada
lazy_object_proxy==1.9.0+computecanada
libclang==14.0.1+computecanada
lightning_utilities==0.10.0+computecanada
lmdb==1.4.1+computecanada
maggma==0.58.0
Mako==1.3.0+computecanada
Markdown==3.5.1+computecanada
markdown_it_py==3.0.0+computecanada
MarkupSafe==2.1.3+computecanada
Mastodon.py==1.8.1
matplotlib==3.7.2+computecanada
matplotlib_inline==0.1.6+computecanada
mccabe==0.7.0
mdurl==0.1.2+computecanada
mistune==3.0.2+computecanada
ml_collections==0.1.1+computecanada
ml_dtypes==0.2.0+computecanada
mongogrant==0.3.3+computecanada
mongomock==4.1.2+computecanada
monty==2023.11.3
more-itertools==10.2.0
mp-api==0.39.4
mpi4py @ git+https://github.com/mpi4py/mpi4py@7b30643009b263ea35b1366a76bd5923509e9299
mpmath==1.3.0+computecanada
msgpack==1.0.4+computecanada
multidict==6.0.4+computecanada
multiprocess==0.70.15+computecanada
mypy_extensions==1.0.0+computecanada
nbclassic==0.5.6
nbclient==0.9.0
nbconvert==7.14.0
nbformat==5.9.2+computecanada
nest_asyncio==1.5.8+computecanada
networkx==3.2.1+computecanada
ninja==1.11.1+computecanada
notebook==6.5.6
notebook_shim==0.2.3+computecanada
numpy==1.25.2+computecanada
nvidia-cublas-cu12==12.3.4.1
nvidia-cuda-nvrtc-cu12==12.3.103
nvidia-cuda-runtime-cu12==12.3.101
nvidia-cudnn-cu12==8.9.7.29
oauthlib==3.2.2+computecanada
opt_einsum==3.3.0+computecanada
optuna==3.5.0+computecanada
orjson==3.9.7+computecanada
packaging==23.2+computecanada
palettable==3.3.3+computecanada
pandas==2.1.0+computecanada
pandas-flavor==0.6.0
pandocfilters==1.5.0+computecanada
parso==0.8.3+computecanada
pathspec==0.12.1
pexpect==4.9.0
Pillow==10.1.0+computecanada
Pillow_SIMD==9.0.0.post1+computecanada
platformdirs==4.1.0
plotly==5.18.0+computecanada
pluggy==0.13.1+computecanada
portalocker==2.8.2
prettytable==3.9.0
prometheus-client==0.19.0
prompt_toolkit==3.0.41+computecanada
protobuf==4.23.4
psutil==5.9.5+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
py==1.11.0+computecanada
py_cpuinfo==9.0.0+computecanada
pyarrow_hotfix==0.6+computecanada
pyasn1==0.5.1+computecanada
pyasn1_modules==0.3.0+computecanada
pybtex==0.24.0+computecanada
pycparser==2.21+computecanada
pydantic==1.10.14
pydantic-settings==2.1.0
pydantic_core==2.6.3+computecanada
pydash==7.0.6+computecanada
pydeck==0.8.1b0+computecanada
pyDeprecate==0.3.2+computecanada
pygments==2.17.2+computecanada
pylint==3.0.3
pymatgen==2023.11.12
pymongo==4.3.3+computecanada
pyparsing==3.0.9+computecanada
pyperclip==1.7.0+computecanada
PySMILESutils @ git+https://github.com/MolecularAI/pysmilesutils.git@b1e7ced15a42e18e629b984816020b1f0b0a2aa3
pytest==6.0.2
pytest-black==0.3.12
pytest-order==1.2.0
pytest_mock==3.12.0+computecanada
python-dateutil==2.8.2+computecanada
python-magic==0.4.27
python_dotenv==1.0.0+computecanada
pytorch-fast-transformers==0.4.0
pytorch-lightning==1.1.5
pytz==2023.3.post1+computecanada
PyYAML==6.0.1+computecanada
pyzmq==24.0.1+computecanada
rdkit==2022.3.5+computecanada
readline==6.2.4.1
referencing==0.32.1
regex==2023.8.8+computecanada
requests==2.31.0+computecanada
requests_oauthlib==1.3.1+computecanada
rich==13.7.0+computecanada
rpds_py==0.10.0+computecanada
rsa==4.9+computecanada
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.7+computecanada
s3transfer==0.8.2
safetensors==0.3.3+computecanada
scikit_learn==1.3.0+computecanada
scipy==1.11.2+computecanada
Send2Trash==1.8.2+computecanada
sentencepiece==0.1.99+computecanada
sentinels==1.0.0+computecanada
sentry_sdk==1.38.0+computecanada
seqeval==1.2.2+computecanada
setproctitle==1.3.2+computecanada
simpletransformers==0.64.3+computecanada
six==1.16.0+computecanada
smmap==5.0.1+computecanada
sniffio==1.3.0+computecanada
soupsieve==2.5+computecanada
spglib==2.0.2+computecanada
SQLAlchemy==2.0.23+computecanada
sshtunnel==0.4.0+computecanada
stack_data==0.6.3+computecanada
starlette==0.27.0+computecanada
stevedore==5.1.0+computecanada
streamlit==1.29.0
sympy==1.12+computecanada
tabulate==0.9.0+computecanada
tenacity==8.2.3+computecanada
tensorboard==2.14.1+computecanada
tensorboard_data_server==0.7.2+computecanada
tensorboard_plugin_wit==1.8.1+computecanada
tensorboardX==2.6.2.2
tensorflow==2.14.0+computecanada
tensorflow_estimator==2.14.0+computecanada
tensorflow_io_gcs_filesystem==0.32.0+computecanada
tensorrt==8.6.1.post1
tensorrt-bindings==8.6.1
tensorrt-libs==8.6.1
termcolor==2.4.0
terminado==0.18.0
threadpoolctl==3.2.0+computecanada
tinycss2==1.2.1+computecanada
tokenizers==0.15.0+computecanada
toml==0.10.2+computecanada
tomli==2.0.1+computecanada
tomlkit==0.12.3
toolz==0.12.0+computecanada
torch==2.0.1+computecanada
torch_geometric==2.4.0+computecanada
torchmetrics==1.2.1+computecanada
torchvision==0.15.2+computecanada
tornado==6.3.3+computecanada
tqdm==4.66.1+computecanada
traitlets==5.14.0
transformers==4.35.2+computecanada
typed_ast==1.5.4+computecanada
typing==3.7.4.3+computecanada
typing_extensions==4.8.0+computecanada
tzdata==2023.4
tzlocal==5.2+computecanada
uncertainties==3.1.7+computecanada
unicore @ file:///home/yutonglu/Uni-Core
unimol-tools @ file:///home/yutonglu/Uni-Mol/unimol_tools
urllib3==1.26.18
uvicorn==0.24.0.post1+computecanada
validators==0.22.0+computecanada
wandb==0.16.1
watchdog==3.0.0
wcwidth==0.2.12+computecanada
webencodings==0.5.1+computecanada
websocket-client==1.7.0
werkzeug==3.0.1+computecanada
widgetsnbextension==3.6.6
wrapt==1.14.1+computecanada
xarray==2023.12.0
xgboost==1.7.5+computecanada
xxhash==3.2.0+computecanada
yacs==0.1.8+computecanada
yarl==1.9.4
